

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/logo-mywebsite-urian-viera.svg" width="100" height="50" alt="">
    </a>
    <h6 class="text-center"> Urian Viera</h6>
  </nav>



  <div class="container">
    <h5 class="text-center mt-5" id="titulo">Mi primer Contador con Angular</h5>


    <div class="row text-center  mt-5">
        <div class="col-md-12 col-12">

    <button type="button" class="btn btn-primary  bmd-btn-fab bmd-btn-fab-sm">
        <i class="zmdi zmdi-plus"></i>
    </button>

      <span> hola </span>
        
    <button type="button" class="btn btn-danger bmd-btn-fab bmd-btn-fab-sm">
        <i class="zmdi zmdi-minus"></i>
    </button>
</div>





    </div>